<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<p>Debes ingresar a tu cuenta para poder ver los posts</p>

<p>Top 5 de post con mayor LVL</p>

<p>Top 3 de usuarios con mayor LVL</p>

<% if user.user_signed_in? %>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Content</th>
                <th>Program</th>
                <th>Like</th>
                <th>User</th>
                <th colspan="3"></th>
            </tr>
        </thead>

        <tbody>
            <% @posts.each do |post| %>
                <tr>
                    <td><%= post.title %></td>
                    <td><%= post.content %></td>
                    <td><%= post.program %></td>
                    <td><%= post.like %></td>
                    <td><%= post.user %></td>
                    <td><%= link_to 'Show', post %></td>
                    <% if current_user.admin == true || current_user.id == post.user.id%>
                        <td><%= link_to 'Edit', edit_post_path(post)%></td>
                        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    <% end %>
                </tr>
                <%# contador de likes %>
            <% end %>
        </tbody>
    </table>

<br>

<%= link_to 'New Post', new_post_path %>
<% end %>
